/src/SwaggerService.Core/bin
/src/SwaggerService.Core/obj
/src/SwaggerService.Infrastructure/bin
/src/SwaggerService.Infrastructure/obj
/src/SwaggerService.Web/bin
/src/SwaggerService.Web/obj
/test/SwaggerService.Core.Test/bin
/test/SwaggerService.Core.Test/obj
/test/SwaggerService.Infrastructure.Test/bin
/test/SwaggerService.Infrastructure.Test/obj
/test/SwaggerService.Web.Test/bin
/test/SwaggerService.Web.Test/obj
/test/SwaggerService.Integration.Test/bin
/test/SwaggerService.Integration.Test/obj
/test/SwaggerService.Acceptance.Test/bin
/test/SwaggerService.Acceptance.Test/obj
/test/SwaggerService.Component.Test/bin
/test/SwaggerService.Component.Test/obj
.vscode
